# name: Build and Deploy
# on: [push]
# jobs:
#   build-and-deploy:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@main

#       - name: Vuepress deploy
#         uses: jenkey2011/vuepress-deploy@master
#         env:
#           ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
#           TARGET_REPO: ptq124/TIL
#           TARGET_BRANCH: gh-pages
#           BUILD_SCRIPT: yarn && yarn build
#           BUILD_DIR: docs/.vuepress/dist/

